:root{
    --primary-teal: rgb(77, 150, 168);
    --secondary-teal: rgb(143, 227, 249);
    --hover-teal:rgb(113, 192, 212);
    --primary-violet: rgb(133, 95, 177);
    --secondary-violet: rgb(217, 184, 255);
    --hover-violet: rgb(177, 139, 221);
    --text-dark: rgb(40, 40, 61);
    --text-light: rgb(135, 135, 157);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body, .container{    
    position: relative;
    font-family: 'Red Hat Display', sans-serif;
    font-size: 18px;
    line-height:26px;
    font-weight: 500;
    overflow-x: hidden;
}
h1{
    font-size: 64px;
    line-height:64px;
    margin: 32px 40px ;
}
h2{
    font-size: 40px;
    line-height: 44px;
}
h3{
    font-size: 16px;
    line-height: 26px;
    text-transform: uppercase;
    color:var(--primary-teal);
    letter-spacing: 4px;
}
button{
    color: white;
    font-size: 16px;
    line-height: 26px;
    font-weight: 900;
    padding:16px 40px;
    letter-spacing: -1px;
    border-radius: 50px;
    border: 0px solid transparent;
    margin: 0px 8px;
    cursor: pointer;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
}

.header__logo{
    margin: 80px auto;
    text-align: center;
}
.hero{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:space-between;
    position: relative;
    margin: 30px auto;
}
/*Start Hero Copy*/
.hero__copy{
    max-width: 540px;
    text-align: center;
}
.hero__text{
    margin-bottom: 32px;
}
.hero__btn--left{
    padding: 16px 40px;
    background-color: var(--primary-teal);
}
.hero__btn--left:hover{
    background-color: var(--hover-teal);
}
.hero__span{
    color:var(--secondary-teal);
}
.hero__btn--right{
    padding: 16px 29px;
    background-color: var(--primary-violet);
}
.hero__btn--right:hover{
    background-color: var(--hover-violet);
}
/*End Hero Copy*/
/*Start Images Container*/
.hero__imgs-container{
    width: 30%;
}
.hero__img{
    border-radius: 50%;
    width: 110px;
    height: 110px;
    margin: 14px 0;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.hero__imgs--left{
    margin-left:-32px;
    margin-right: 16px;
}
.hero__imgs--right{     
    margin-right:-32px;
    margin-left: 16px;
}
.hero__imgs--up{
    display:flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
}
.hero__imgs--down{
    display:flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-end;
}
.hero__imgs--left .hero__img:nth-child(2){
    position: relative;
    bottom: 55px;
    margin: 14px 32px;
}
.hero__imgs--right .hero__img:nth-child(2){
    position: relative;
    top: 55px;
    margin: 14px 32px;
}
/*End Images Container*/
.separator{
    width: 56px;
    height: 140px;
    margin: 110px auto 0px auto;
    z-index: 10;
    position: relative;
}
.separator__left{
    width: 50%;
    height: 84px;
    border-right: 1px solid rgba(135, 135, 157, 0.251);
}
.separator__bottom{
    padding: 15px;
    width: 56px;
    height:56px;
    background-color: rgb(250, 250, 250);    
    color: var(--text-light);
    text-align: center;
    border: 1px solid rgba(135, 135, 157, 0.251);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
/*Start Main Container*/
.main__imgs-container{
    width: 1100px;
    display:flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin: 64px auto;
}
.main__img{
    width:255px;
    height: 242px;
}
.main__article{
    width: 540px;
    margin: 16px auto;
    text-align: center;
}
.main__h2{
    margin: 16px 47px;
}
.main__p{    
    padding: 15px;
}

/*End Main Container*/
